<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contacts</title>
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/scripts.js"></script>
</head>
<body>
    <div class="category">
    </div>
    <div class="search">
    	<label>Search Bar</label>
    	<input type="text" placeholder = "Search for...">
    	<button>Search</button>
    </div>
    <br><br>
    <div class="contacts">
    </div>
</body>
</html>